@font-face {
    font-family: 'myfont';
    src: url(fonts/DMSans-VariableFont_opsz\,wght.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'kajfont';
    src: url(fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}
/* add the color  */
:root {
    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);
    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
}
/* bgc */
body {
    background-color: rgba(250, 250, 250, 0.827);
    font-family: 'myfont';
}
/* container */
.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(14, 1fr);
    gap: 25px;
}
/* select the all div in the container  */
.container div {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: 2s;
}
/* add the transision */
.container div:hover {
    cursor: pointer;
    scale: 1.01;
    transform: translateY(-10px);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}
/* boxes  */
.g1 {
    grid-column: 1/3;
    grid-row: 1/7;
    background-color: var(--Yellow-100);
    font-size: 30px;
    position: relative;
    padding-top: 20px;
    padding-left: 45px;
    text-align: left;
}
.g2 {
    grid-column: 3/9;
    grid-row: 1/6;
    background-color: var(--Purple-500);
    font-size: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.g3 {
    grid-column: 9/12;
    grid-row: 1/10;
    background-color: var(--Purple-100);
    font-size: 30px;
    text-align: left;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    gap: 400px;
    position: relative;
}
.g4 {
    grid-column: 1/3;
    grid-row: 7/14;
    background-color: var(--Yellow-500);
    font-size: 30px;
    padding-top: 30px;
    padding-left: 20px;
    text-align: left;
    position: relative;
}
.g5 {
    grid-column: 3/6;
    grid-row: 6/10;
    background-color: var(--White);
    font-size: 25px;
    position: relative;
    padding-top: 70px;
    padding-left: 45px;
}
.g6 {
    grid-column: 6/9;
    grid-row: 6/10;
    background-color: var(--Yellow-500);
    font-size: 25px;
    padding-bottom: 105px;
    padding-left: 60px;
    position: relative;
}
.g7 {
    grid-column: 3/6;
    grid-row: 10/14;
    background-color: var(--White);
    font-size: 60px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.g8 {
    grid-column: 6/12;
    grid-row: 10/14;
    background-color: var(--Purple-500);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
/* add a img and changes such as width and height */
.gg1 {
    width: 200px;
    height: 100px;
    position: absolute;
    right: 40px;
    bottom: 100px;
}
.gg2 {
    width: 250px;
    height: 50px;
}
.gg3 {
    height: 400px;
    width: 250px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    right: 0px;
    top: 120px;
}
.gg4 {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 160px;
    right: 10px;
}
.gg5 {
    width: 350px;
    height: 60px;
    position: absolute;
    top: 10px;
    border-radius: 40px;
}
.gg6 {
    width: 300px;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    bottom: 0px;
    right: 70px;

}
.gg7 {
    width: 200px;
    height: 70px;
    position: absolute;
    bottom: 50px;
    right: 100px;
}
.gg8 {
    width: 300px;
    height: 210px;
}
/* textcolor and size color */
.t {
    color: var(--Purple-500);
    display: block;
    font-family: 'kajfont';
}
.y {
    color: var(--Yellow-500);
    display: inline;
}
.w {
    color: var(--White);
}
.size {
    font-size: 15px;
}
.k {
    font-family: 'kajfont';
}
.f{
    position:absolute ;
    left:140px ;
    bottom:150px ;
}
/* responsive dising  */
@media screen and (max-width:500px) {
    .container{
    display: flex;
    flex-direction: column;
    }
    .container div{
    width: 300px;
    padding: 15px;
    }
   .gg1{
    top: 50px;
    right: 10px;
    width: 170px;
   }
   .gg3{
    top: 120px;
   }
   .gg4{
    top: 7px;
    width: 130px;
    height: 115px;
   }
   .gg5{
    width: 210px;
    left: 120px;
    top: 50px;
   }
   .gg6{
    width: 170px;
    height: 70px;
    right: 8px;
   }
   .gg7{
    left: 70px;
   }
   .gg8{
    width: 270px;
    height: 230px;
    right: 100px;
    padding-left: 30px;
   }
   .g1{
    font-size: 25px;
   }
   .g2{
    font-size: 40px;
   }
   .g3{
    font-size: 25px;
   }
   .g4{
    font-size: 25px;
   }
   .g5{
    font-size: 25px;
   }
   .g8{
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    gap: 25px;
   }
  .f{
    left: 90px;
    bottom: 135px;
  }
  
}